.main {
  max-width: 340px;
  margin: 0 auto; 
  text-align: center;
}

.imgWrapper img{
  height: auto;
  width: 350px;
}

.textWrapper {
  font-size: 20px;
  text-align : left;
}

.title {
  color: black;
  text-align: center;
}

下はメモ
.wrapper {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  background: #cccccc;
}